@charset 'utf-8';

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}


.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


/* logo */
#logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95px;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
}

.logo-image {
  width: 200px;
  max-width: 30vw;
  height: auto;
}

.logo-nav {
  display: flex;
  gap: 20px;

  margin: 0;
  padding: 0;
  list-style: none;
}


/* home */
#home {
  margin-top: 95px;
}

#home .keyvisual {
  width: 100%;
  aspect-ratio: 2 / 1;
  background: #F7EFF2 url(../img/home1.png) center center no-repeat;
  background-size: contain;
}

/* me */
#me {
  display: none;
}

/* work */
#work {
  display: none;
}

/* contact */
#contact {
  display: none;
}

/* copy */
.copy {
  display: none;
}