@charset "UTF=8";

#home img{
  object-fit: contain;
  width: 200px;
  height: auto;
}

.navigation{
  list-style: none;
  font-size: 30px;
}

.navigation a{
  color: white;
}

#me{
  display: none;
}

#work{
  display: none;
}

#contact{
  display: none;
}

#copy{
  display: none;
}