@charset "UTF=8";

body{
  padding: 0;
  margin: 0;
  line-height: 1;
  background-color: rgb(250, 242, 245);
}

.wf-sawarabimincho { 
  font-family: "Sawarabi Mincho";
  color: rgb(77, 76, 76);
}


h1{
  margin-left: 4%;
  font-size: 80px;
  color: gray;
  font-family: 'Caveat', cursive;
}

h2{
  margin-left: 10%;
  font-size: 50px;
  color: gray;
  font-family: 'Caveat', cursive;
}

h3 { 
  font-family: "Sawarabi Mincho";
  color: rgb(77, 76, 76);
}

/* home */

#home{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 150px;
  box-sizing: border-box; /*　width100%の中にpadding 30pxを含ませる。 */ 
  padding: 30px;
}

.navigation{
  gap: 30px;
  list-style: none;
  display: flex;
}

.navigation a{
  font-size: 40px;
}

.navigation li{
  font-family: Caveat, cursive;;
}

.navigation a:hover{
  color: rgb(246, 246, 175);
  transition: rotateZ(360deg);
}

#home img{
  object-fit: contain;
  width: 200px;
  height: auto;
}

.navigation a{
  color: gray;
}

.keyvisual{
  padding: 0;
  margin: 0;
  background-image: url(../img/home1.png);
  background-size: cover;
  background-position: center 70px;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 820px;
  background-attachment: fixed;
  /* position: sticky;
  z-index: -1;
  top: 150px; */
}

/* me */

.hobby{
  display: flex;
  justify-items: center;
  margin-left: 15%;
}

.text{
  text-align: center;
}

.arrow{
  margin-right: 15%;
	position: relative;
	display: inline-block;
	color: #000;
	vertical-align: middle;
	text-decoration: none;
	font-size: 15px;
}

.arrow::before,
.arrow::after{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	content: "";
	vertical-align: middle;
}

.sample5-2::before{
	left: 30px;
	width: 40px;
	height: 40px;
	border-top: 20px solid gray;
	border-right: 20px solid gray;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.recommend-img{
  display: flex;
  gap: 10px;
  position: relative;
}

.image{
  width: auto;
  height: 200px;
  opacity: 0.6; /* 初期状態では少し透明 */
  transition: opacity 0.3s ease, transform 0.3s ease, z-index 0s ease;
  object-fit: cover;
}

.image:hover{
  opacity: 1; /* マウスオーバー時に完全に不透明に */
  transform: scale(1.1); /* 少し拡大 */
  z-index: 1; /* 順番を前に持ってくる */
}

.recommend-img:hover .image {
  opacity: 0.6; /* コンテナにマウスオーバーしても他の画像は透明 */
}

.recommend-img:hover .image:hover{
  opacity: 1; /* マウスオーバーした画像は完全に不透明 */
}


.mask-image{
  position: relative;
  width: 150px;
  height: 150px;
  clip-path: path("M75 133.438L65.9375 125.188C33.75 96 12.5 76.75 12.5 53.125C12.5 33.875 27.625 18.75 46.875 18.75C57.75 18.75 68.1875 23.8125 75 31.8125C81.8125 23.8125 92.25 18.75 103.125 18.75C122.375 18.75 137.5 33.875 137.5 53.125C137.5 76.75 116.25 96 84.0625 125.25L75 133.438Z");
  margin-right: 60px;
}

.inner-1{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #7c7a7a;
}

.inner-2{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70%;
  z-index: 2;
  background: #f8bef4;
}

.inner-2-2{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  background: #f8bef4;
}

.inner-2-3{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
  background: #f8bef4;
}

.inner-2-4{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  z-index: 2;
  background: #f8bef4;
}

.heart1{
  display: flex;
  justify-content: center;
}

.heart{
  mask-image: url(../img/heart.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 300px;
  width: 300px;
}

.heart-progress{
  height: 50px;
  width: 100%;
  background-color: red;
}

.heart img{
  height: 100%;
  width:  100%;
}


/* work */

.work-one{
  display: flex;
  justify-content: center;
}

.work-one img{
  width: 400px;
  height: auto;
  border: solid 3px white;
}

.work-two{
  display: flex;
  justify-content: center;
}

.work-two img{
  width: 400px;
  height: auto;
  border: solid 3px white;
}


/* contact */

#contact{
  background-color: #faeff4;
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

input[type="text"],
input[type="email"]
textarea{
  background: rgba(255, 255, 255, 5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
  padding-bottom: 80px;
}

.button{
  font-size: 1.375rem;
  background: rgb(246, 205, 227);
  color: rgb(77, 76, 76);
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover{
  background: rgb(252, 252, 202);
}

/* copy */

#copy{
  background-color: white;
  text-align: center;
  color: rgb(77, 76, 76);
}

#copy small{
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}